export(read_avaliation)
export(apply_transf)
export(as_avaliation_anova)
export(as_functions)
export(br2_format)
export(br3_format)
export(br7_format)
export(cat_df)
export(elasticity_plots)
export(inverse_function)
export(lm_avalitools)
export(predict_avalitools)
export(qme)
export(read_avaliation)
export(residuals_table)
export(summary_avalitools)
export(transf_vari_names)
export(complementary_info)
export(descr_avalitools)
export(normality_table)
export(outliers_table)
export(regression_equation)
export(ttests_table)
export(cor_avalitools)
export(estimate_equations)
export(avali_table)